<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"><title>Edit</title></head>
<body>

<h2>Edit mașină</h2>

<form method="POST">

Marca: <input name="marca" value="{{m.marca}}"><br>
Model: <input name="model" value="{{m.model}}"><br>
Numar: <input name="numar" value="{{m.numar}}"><br>
KM: <input name="km" value="{{m.km}}"><br>

Km până service: <input name="next_service"><br>
Km până ulei: <input name="next_oil"><br>

<button>Salvează</button>

</form>

<a href="/">Înapoi</a>

</body>
</html>